/* ==========================================================================
Foundation - @import "foundation/
========================================================================== */
@import "foundation/variable";
@import "foundation/reset";
@import "foundation/base";

html, body, div {
    color: #333;
}
.wrap{
    position: relative;
    height: 350px;
}
.container{
    display: grid;
    position: absolute;
    top:0;
    left: 0;
    grid-template-columns: 100px 100px 1fr;
    grid-template-rows: 100px 150px 100px;
    width: 500px;
    .item{
        background: yellowgreen;
        &:nth-child(odd){
            background: red;
        }
    }
    &.two{
        .item{
            background: orange;
            &:nth-child(odd){
                background: purple;
            }
        }
    }
    &.three{
        .item{
            background: yellow;
            &:nth-child(odd){
                background: green;
            }
        }
    }
}
