/* ==========================================================================
Foundation - @import "foundation/
========================================================================== */
@import "foundation/variable";
@import "foundation/reset";
@import "foundation/base";

body{
	background: #fff;
}
.st0 {
	stroke: #000;
	fill: none;
}
