/*
ダークモード
https://www.webcreatorbox.com/tech/dark-mode
*/
.light-mode{
    background: #fff;
    color: #333;
    transition: all 1s;
}
.dark-mode{
    background: navy;
    color: #fff;
    transition: all 1s;
}