header{
    background: linear-gradient(135deg, hsla(64,100%,75%,1) 0%,hsla(228,83%,70%,1) 50%,hsla(303,40%,47%,1) 100%);
    box-sizing: border-box;
    left: 0;
    padding: 20px 10px;
    position: fixed;
    top:0;
    width: 100%;
    z-index:2147483500;
}
body{
    padding: 100px 0;
}

.sections{
    scroll-snap-type:y mandatory;
}
.sections:nth-child(odd){
    background-color: #fff;
    display: flex;
    text-align: center;

}